.tag-user {
    display: flex;
    flex-wrap: nowrap;
}

.tag-li-user {
    list-style-type: none;
    font-size: 1.1rem;
}

.div-inline-block {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}